/* GENERAL SECTION  */
section {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  padding: 150px 360px;
  height: 800px;
  max-width: 60%;
}

h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
}

section > p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  margin: 20px 0;
  color: #475467;
}

label {
  font-size: 14px;
  line-height: 20px;
  display: block;
  color: #344054;
}

input {
  padding: 10px 14px;
  height: 44px;
  background: #ffffff;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  width: 100%;
  margin-bottom: 6px;
}

input:focus {
  outline-color: #84caff;
}
textarea {
  padding: 12px 14px;
  width: 720px;
  height: 132px;

  background: #ffffff;

  border: 1px solid #d0d5dd;

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  resize: none;
}

textarea:focus {
  background: #ffffff;
  outline: 1px solid #84caff;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #d1e9ff;
}

#checkbox {
  cursor: pointer;
  opacity: 0;
  position: absolute;
}

button {
  padding: 12px 20px;
  gap: 8px;
  color: #ffffff;
  width: 720px;
  height: 48px;
  background: #1570ef;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  background: #175cd3;
}

button:focus {
  background: #1570ef;
  border: 1px solid #1570ef;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05), 0px 0px 0px 4px #d1e9ff;
}

button:disabled {
  background: #b2ddff;
  border: 1px solid #b2ddff;

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

form {
  display: grid;
  grid-template-columns: 348px 348px;
  column-gap: 24px;
  row-gap: 6px;
}

form div:nth-child(n + 3) {
  grid-column: 1 / span 2;
}

.checkboxContainer label {
  display: inline-flex;
  align-items: center;
  margin-bottom: 32px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.checkboxContainer label::before {
  content: "";
  width: 22px;
  height: 22px;
  background: #ffffff;

  border: 1px solid #d0d5dd;
  border-radius: 6px;
  margin-right: 0.5em;
  cursor: pointer;
}

/* .checkboxContainer label:hover::before,
#checkbox:hover + label::before{
  border: 1px solid #84caff;
  box-shadow: 0px 0px 0px 4px #d1e9ff;
} */

#checkbox:focus + label::before {
  border: 1px solid #84caff;
  box-shadow: 0px 0px 0px 4px #d1e9ff;
}

#checkbox:checked + label::before {
  content: "\002714";
  background: #f9fafb;
  border: 1px solid #1570ef;
  border-radius: 6px;
  color: #1570ef;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 480px) {
  section {
    padding: 84px 16px;
  }
  section > p {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
  }
  form {
    grid-template-columns: 340px;
  }
  form div:nth-child(n + 1) {
    grid-column: 1;
  }
  input {
    width: 343px;
    height: 44px;
  }
  textarea {
    padding: 6px 16px;
    width: 343px;
    height: 132px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
  }
  .checkboxContainer label {
    align-items: start;
    justify-content: start;
  }
  .checkboxContainer label::before {
    width: 32px;
    height: 22px;
  }
  
  label {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
  }
  button {
    padding: 12px 20px;
    width: 343px;
    height: 48px;
  }
}
