main {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
  padding: 64px 112px;
  text-align: center;
  gap: 0;
}

main img {
  margin: auto auto;
}

.profile_img {
  background-image: url("../images/profile_img.png");
  width: 88px;
  height: 88px;
  margin: auto auto;
}

.profile_img:hover {
  background: linear-gradient(
      0deg,
      rgba(52, 64, 84, 0.65),
      rgba(52, 64, 84, 0.65)
    ),
    url("../images/profile_img.png");
  border-radius: 275px;
}

.camera {
  margin-top: -32px;
}

main h2 {
  margin-top: 24px;
  margin-bottom: 56px;
}

.card {
  padding: 24px 0;
  background: #eaecf0;
  border: 1px solid #eaecf0;
  border-radius: 8px;
  margin-bottom: 24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;

  filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
}

.card:hover {
  background: #d0d5dd;
  border: 1px solid #d0d5dd;
  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
}

.social_links {
  width: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  margin: 48px auto;
}

.share_btn {
  margin-right: 284px;
  margin-bottom: -22px;
}

@media screen and (max-width: 480px) {
  main {
    padding: 44px 16px;
  }
  main h2 {
    margin: 24px 0 32px 0;
  }
  .card {
    font-size: 14px;
  }
}
