main {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    justify-content: center;
    padding: 64px 112px;
    text-align: center;
    gap: 0;
}

main img {
    margin: auto auto;
}

main h2 {
    margin-top: 24px;
    margin-bottom: 56px;
}

.card {
    padding: 24px 32px;
    gap: 8px;
    height: 76px;
    background: #EAECF0;
    border: 1px solid #EAECF0;
    border-radius: 8px;
    margin-bottom: 24px;

    filter: drop-shadow(0px 1px 2px rgba(16, 24, 40, 0.05));
}

.card p {
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    margin: 24px 0;
}